<!doctype html>
<html>

<head>
  <title>template</title>
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css" rel="stylesheet">
</head>

<body style="position: relative;">
  <img src="<%= imagePath %>" alt="" class="imageContainer">
  <h1 class="quote"><%= quote %></h1>
  <h2 class="author"><%= author %></h2>
</body>

<style>
  @font-face {
    font-family: 'Bebas Neue';
    src: url(./fonts/bebas_neue/BebasNeue\ Bold.otf);
    font-weight: bold;
  }

  body {
    width: 900px;
    height: 600px;
    font-family: 'Bebas Neue';
  }

  .imageContainer {
    width: 900px;
    height: 600px;
    object-fit: cover;
  }

  .quote {
    width: 700px;
    font-size: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .author {
    width: 400px;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    color: white;
  }
</style>

</html>
